# ====== BACKEND (Spring Boot) ======
reclamations-backend/target/
reclamations-backend/*.class
reclamations-backend/*.jar

# Eclipse
reclamations-backend/.classpath
reclamations-backend/.project
reclamations-backend/.settings/
reclamations-backend/.factorypath

# ====== FRONTEND (Angular) ======
reclamations-frontend/node_modules/
reclamations-frontend/dist/
reclamations-frontend/.angular/

# ====== OS ======
.DS_Store
Thumbs.db
*.log